*{
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
outline: none;
}

html{
    scroll-behavior: smooth;
}

body{
font-family: cambria;
padding: 0;
margin: 0;
background: rgb(248, 248, 248);
}

nav{
background: #0e272a;
height: 65px;
width: 100%;
top: 0;
position: -webkit-sticky;
position: sticky;
z-index: 1;


}

label.logo{
color: white;
font-size: 35px;
line-height: 65px;
padding: 0 100px;
font-weight: bold;
font-family: cambria;
}

nav ul{
float: right;
margin-right: 20px;

}

nav ul li{
display: inline-block;
line-height: 65px;
margin: 0 5px;
font-family: cambria;

}

nav ul li a{
color: white;
font-size: 15px;
text-transform: uppercase;
padding: 10px 13px;
border-radius: 3px;
transition: 0.3s;

}

a:hover{
    background-color: #1296A4;
    
}

.checkbtn{
font-size: 30px;
color: white;
float: right;
line-height: 64px;
margin-right: 40px;
cursor: pointer;
display: none;
}
#check{
display: none;
}
@media (max-width: 952px){
label.logo{
font-size: 30px;
padding-left: 50px;
}
nav ul li a{
font-size: 16px; 
}
}

@media (max-width: 858px){
.checkbtn{
display: block;

height: fit-content;
}
ul{
position: fixed;
width: 100%;
height: 100%;
background: #0F2C2F ;
top: 60px;
left: -100%;
text-align: center;
transition: all .5s;
}
nav ul li{
display: block;
margin: 50px 0;
line-height: 30px;
}
nav ul li a{
font-size: 20px;
}
a:hover,a.active{
background: none;
color: #0082e6;
}
#check:checked ~ ul{
left: 0;

}



.together-container{
    flex-direction: column;
    
}



.for-img{
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    }
    
.for-img img{
    width: 0;
    height: 0;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    position: absolute;

}

.for-p{
    width: 100%;

}

.head_parent{
    width: 100%;
}



.skillset{
    gap: 30px;
    flex-direction: column;

}

.workset{
    flex-direction: column;
    gap: 30px;
}

.container{
    width: 100%;
    
    box-shadow: 0px 0px 0px #ffffff;

    
    
}

.container .text{
    font-size: 30px;
  }
  .container form{
    padding: 10px 0 0 0;
    width: 100%;
    
  }
  .container form .form-row{
    flex-direction: column;
    width: 100%;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
    width: 100%;
  }
  .submit-btn .input-data{
    width: 40%!important;
  }

  form .form-row .textarea{
    width: 100%;
  }



}


@media only screen and(max-width: 500px){
    .checkbtn{
        display: block;
        }
        ul{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #0F2C2F ;
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        }
        nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
        }
        nav ul li a{
        font-size: 20px;
        }
        a:hover,a.active{
        background: none;
        color: #0082e6;
        }
        #check:checked ~ ul{
        left: 0;
        
        }
        .together-container{
            flex-direction: column;
        }
        
        .for-img{
            width: 0;
            height: 0;
            padding: 0;
            margin: 0;
            position: absolute;
            }
            
        .for-img img{
            width: 0;
            height: 0;
            padding: 0;
            margin: 0;
            position: absolute;
        
        }
        
        .for-p{
            width: 100%;
        
        }
        
        .head_parent{
            width: 100%;
        }
        
        
        
        .skillset{
            gap: 30px;
            flex-direction: column;
        
        }
        
        .workset{
            flex-direction: column;
            gap: 30px;
        }
        
        .container{
            width: 100%;
            
            box-shadow: 0px 0px 0px #ffffff;
        
            
            
        }
        
        .container .text{
            font-size: 30px;
          }
          .container form{
            padding: 10px 0 0 0;
            width: 100%;
            
          }
          .container form .form-row{
            flex-direction: column;
            width: 100%;
          }
          form .form-row .input-data{
            margin: 35px 0!important;
            width: 100%;
          }
          .submit-btn .input-data{
            width: 40%!important;
          }
        
          form .form-row .textarea{
            width: 100%;
          }
}



.head_parent{
width: 100%;
height:91vh;
overflow: hidden;
background-image: url("images/parent3.jpg");
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
}

span{
color: #10c6c6;
}

.for-p{
width: 100%;




}

.forp-together{

    max-width: fit-content;
    margin: auto;
    padding: 70px 0;

}

.imgTogether{
    width: fit-content;

    margin: auto;
}

.for-p h1{
font-size: 55px;
font-family: cambria;

}

.for-p h2{
font-size: 35px;
margin-top: 30px;
font-family: cambira;
}

.for-p .btnAboutMe{
background-color:  #10c6c6;
color: white;
padding: 20px 50px;
transition: .5s;
text-align: center;
cursor: pointer;
border: none;
border-radius: 25px;
margin-top: 12px;
font-size: 15px;
font-weight: bold;
}

.for-p .btnAboutMe:hover{
background-color: #0b8f8f;

}

.socialBtn{
color: #10c6c6;
font-size: 35px;
margin-top: 40px;
gap: 30px;
display: flex;

}

.socialBtn a{
    color: #10c6c6;
    transition: 0.3s;

}

.socialBtn a:hover{
    color: #0E272A;
    background-color: rgba(0, 0,0, 0.0);

}
.for-img{
width: 100%;


}

.for-img img{
max-width: 100%;
height: 500px;

}

.together-container{
display: flex;
width: 100%;


margin-top: 30px;
height: fit-content;
}








.skill_page{
width: 100%;
height: fit-content;

position: static;

}

.skill_title{
    color: #073133;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    font-family: cambria;
    font-size: 20px;
    
}

.skillset{

    width: 100%;
    height: fit-content;

    display: flex;
    margin-top: 50px;
    



}

.skill1{

    width: 100%;
    color: #022738;
    height: fit-content;
    font-size: 70px;
    text-align: center;
    

}

.skill1 h2{
    font-size: 23px;
    margin-top: 30px;
    font-family: cursive;
    
}
.skill2{

    width: 100%;
    color: #022738;
    height: fit-content;
    font-size: 70px;
    text-align: center;
    
}

.skill2 h2{
    font-size: 23px;
    margin-top: 30px;
    font-family: cursive;
    
}
.skill3{

    width: 100%;
    color: #022738;
    height: fit-content;
    font-size: 70px;
    text-align: center;
    
}
.skill3 h2{
    font-size: 23px;
    margin-top: 30px;
    font-family: cursive;
    
}

.skill1_contain{
    
    padding: 40px 80px;
    width: fit-content;
    height: fit-content;
    margin: auto;
    transition: 0.5s;
    border-radius: 20px;
    box-shadow: 5px 10px 10px #969696;



}

.skill2_contain{
   
    padding: 40px 90px;
    width: fit-content;
    height: fit-content;
    margin: auto;
    transition: 0.5s;
    border-radius: 20px;
    box-shadow: 5px 10px 10px #969696;

}

.skill3_contain{
    
    padding: 40px 80px;
    width: fit-content;
    height: fit-content;
    margin: auto;
    transition: 0.5s;
    border-radius: 20px;
    box-shadow: 5px 10px 10px #969696;
}

.skill1_contain:hover,.skill2_contain:hover,.skill3_contain:hover{
background-color: #7aebfa;

transform: scale(1.3);
z-index: 2;
}


.works-page{
    width: 100%;
    height: fit-content;
    margin-top: 50px;



    

}

.workset{
    width: 100%;
    height: fit-content;
    display: flex;
    margin-top: 50px;
    
}

.workTitle{
    text-align: center;
    width: 100%;
    font-size: 23px;
    color: #073133;
    
}

.works1, .works2, .works3{
    width: 100%;
    height: fit-content;
    
}

.works1-contain, .works2-contain, .works3-contain{

    height: 400px;
    width: 300px;
    margin: auto;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 5px 10px 10px #969696;
    border-radius: 20px;
    

}

.works1-contain img, .works2-contain img, .works3-contain img{

    max-width: 100%;
    


}

.works1-contain:hover, .works2-contain:hover, .works3-contain:hover{

    transform: scale(1.1);
    z-index: 2;
    

}


.services{
    width: 100%;
    height: fit-content;

    margin-top: 50px;
    padding: 70px 0;
}


.services .container{
    max-width: 800px;
    background: white;
    padding: 25px 40px 130px 40px;
    margin: auto;
    box-shadow: 5px 10px 10px #969696;
    
  }
  .container .text{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: #073133;

  }
  .container form{
    padding: 30px 0 0 0;
  }
  .container form .form-row{
    display: flex;
    margin: 32px 0;
  }
  form .form-row .input-data{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
  }
  form .form-row .textarea{
    height: 70px;
    
  }
  .input-data input,
  .textarea textarea{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0,0,0, 0.12);
  }
  .input-data input:focus ~ label, .textarea textarea:focus ~ label,
  .input-data input:valid ~ label, .textarea textarea:valid ~ label{
    transform: translateY(-20px);
    font-size: 14px;
    color:  #10c6c6;
  }
  .textarea textarea{
    resize: none;
    padding-top: 10px;
  }
  .input-data label{
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  .textarea label{
    width: 100%;
    bottom: 40px;
    background: #fff;
  }
  .input-data .underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
  }
  .input-data .underline:before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background:  #10c6c6;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before,
  .textarea textarea:focus ~ .underline:before,
  .textarea textarea:valid ~ .underline:before{
    transform: scale(1);
  }
  .submit-btn .input-data{
    overflow: hidden;
    height: 45px!important;
    width: 25%!important;
    border-radius: 25px;
   
  }


  .submit-btn .input-data input{
    background-color:  #10c6c6;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
    font-family: cambria;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    transition: .3s;
  }

  .submit-btn .input-data input:hover{
    background-color: #0b8f8f;
  }


  .footer{
    width: 100%;
    height: 50px;

    vertical-align: text-bottom;
  }


  .footerText{
    width: 100%;
    color: rgb(95, 95, 95);
    font-family: sans-serif;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    

  }



